* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
}

@media (min-width: 1440px) {

    /* 1 - Header */

    header {
        width: 100vw;
        min-height: calc(50vh - 10px);
        background-color: black;
    }

    /* 1.1 - Header nav */

    nav {
        width: 100vw;
        height: 80px;
        background-color: black;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 32px;
        padding: 0px 40px;
        align-items: center;
    }

    nav #logo-header {
        grid-column: 2;
        height: 50px;
        object-fit: contain;
    }

    nav #menu {
        display: flex;
        height: 75px;
        grid-column: 8 / span 4;
        font-family: 'Oxanium';
        align-items: center;
        justify-content: flex-end;
        background-color: black;
    }

    nav #menu ul {
        display: inline-flex;
        justify-content: flex-end;
    }

    nav #menu ul li {
        margin: 0 20px;
        letter-spacing: 2px;
        list-style: none;
    }

    nav #menu ul li a {
        color: white;
        text-decoration: none;
        white-space: nowrap;
    }
    
    #header-nav-icon {
        display: none;
    }

    /* 1.2 Hero */

    .Hero {
        width: 100vw;
        min-height: calc(100vh - 80px);
        background-image: url("Resources/background_hero.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center 10%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }

    #hero-content {
        transform: translateY(-60px);
        background-color: rgba(0, 0, 0, 0.4)
    }

    .hero-title {
        padding: 20px;
        font-family: 'Orbitron';
        font-weight: 500;
        font-size: clamp(48px, 3vw, 96px);
        line-height: 60px;
        letter-spacing: 0.15em;
        text-align: center;
        background: linear-gradient(90deg, #FCE302 0%, #E1EB33 38%, #00E0FF 100%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        color: transparent;
        text-shadow: 0 0 6px rgba(255, 255, 255, 0.1);  
    }

    .hero-sub {
        color: #CCCCCC;
        font-family: 'Oxanium';
        text-align: center;
        letter-spacing: 0.20em;
        line-height: 30px;
        font-size: clamp(25px, 1vw, 50px);
        padding: 35px 0px;
    }

    .buttons-hero {
        padding: 40px 20px 60px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 32px;
    }

    .button-hero {
        font-family: 'Orbitron', sans-serif;
        font-size: 20px;
        padding: 25px 60px;
        color: #ffffff;
        border-radius: 25px;
        text-decoration: none;
        position: relative;
        background: 
            linear-gradient(#0B0B0C, #0B0B0C) padding-box,
            linear-gradient(90deg, #FCE302, #00E0FF) border-box;
        border: 2px solid transparent;
        background-clip: padding-box, border-box;
        box-shadow: 0 0 6px rgba(0, 224, 255, 0.3);
        transition: 0.3s ease-in-out;
    }

    .button-hero:hover {
        background: linear-gradient(90deg, #FCE302, #E1EB33, #00E0FF);
        color: #0B0B0C;
        font-weight: bold;
        box-shadow: 0 0 20px #00e0ff, 0 0 40px #fce302;
    }

    /* 2 - Features */

    .Features {
        background-image: url("Resources/background_pages.png");
        min-height: 100vh;
        width: 100vw;
        padding: 0px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header-features {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 220px;
    }
    
    .header-features h1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        width: 100%;
        padding: 20px;
        font-family: 'Orbitron';
        font-weight: 500;
        font-size: 42px;
        line-height: 60px;
        letter-spacing: 0.15em;
        text-align: center;
        background: linear-gradient(90deg, #FCE302 0%, #E1EB33 38%, #00E0FF 100%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        color: transparent;
        text-shadow: 0 0 6px rgba(255, 255, 255, 0.1);  
    }

    .body-features {
        display: flex;
        width: 100vw;
        height: auto;
        justify-content: space-around;
        padding: 0px 40px 20px;
        align-items: center
    }

    .body-feature {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 400px;
    }

    .body-feature img {
        width: 400px;
        height: 600px;
        max-width: 100%;
        align-self: stretch
    }

    .body-feature p {
        color: #CCCCCC;
        text-align: center;
        font-size: 20px;
        font-family: 'Oxanium';
        padding: 25px;
        max-width: 600px;
        line-height: 1.5;
    }

    /* 3 - Site */

    .Site {
        background-image: url("Resources/background_pages.png");
        min-height: 100vh;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .Site img {
        max-width: 800px;
        max-height: 800px;
        padding: 20px;
    }

    .site-img {
        display: flex;
        grid-column: 1;
        justify-content: center;
        align-items: center;
    }

    .site-explain {
        padding: 0px 50px;
        grid-column: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .site-explain h1 {
        font-family: 'Orbitron';
        font-weight: 50px;
        font-size: 42px;
        line-height: 60px;
        letter-spacing: 0.15em;
        text-align: center;
        background: linear-gradient(90deg, #FCE302 0%, #E1EB33 38%, #00E0FF 100%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        color: transparent;
        text-shadow: 0 0 6px rgba(255, 255, 255, 0.1);  
    }
    
    .site-explain p {
        color: #CCCCCC;
        text-align: center;
        font-size: 25px;
        font-family: 'Oxanium';
        padding: 25px;
        max-width: 600px;
        line-height: 1.5;
    }

    /* 4 - clients */

    .clients {
        background-image: url("Resources/background_pages.png");
        min-height: 100vh;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .clients img {
        max-width: 500px;
        max-height: 500px;
    }

    .clients-reviews {
        display: flex;
        grid-column: 2;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .clients-explain {
        padding: 0px 50px;
        grid-column: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .clients-explain h1 {
        font-family: 'Orbitron';
        font-weight: 50px;
        font-size: 42px;
        line-height: 60px;
        letter-spacing: 0.15em;
        text-align: center;
        background: linear-gradient(90deg, #FCE302 0%, #E1EB33 38%, #00E0FF 100%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        color: transparent;
        text-shadow: 0 0 6px rgba(255, 255, 255, 0.1);  
    }

    .clients-explain p {
        color: #CCCCCC;
        text-align: center;
        font-size: 25px;
        font-family: 'Oxanium';
        padding: 25px;
        max-width: 600px;
        line-height: 1.5;
    }

    /* 5 - Newsletter & Foooter */

    .Email {
        background-image: url("Resources/background_pages.png");
        min-height: calc(100vh - 200px);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .Email h1 {
        color: #FCE302;
        font-family: 500px;
        letter-spacing: 0.15em;
        font-family: 'Orbitron';
        line-height: 60px;
        text-align: center;
        font-size: 42px;
        margin: 5px;
    }
    .Email p {
        color: #CCCCCC;
        font-size: 25px;
        font-family: 'Oxanium';
        max-width: 600px;
        line-height: 1.5;
        text-align: center;
        margin: 15px;
    }

    .newsletter-form {
        display: flex;
        justify-content: center;
        gap: 1rem;
        flex-wrap: nowrap;
        margin: 50px;
    }

    .newsletter-form input[type="email"] {
        flex: 1 1 250px;
        max-width: 400px;
        padding: 0.75rem 1rem;
        border: 2px solid #FCE302;
        border-radius: 25px;
        background: transparent;
        color: #fff;
        font-size: 1rem;
    }

    .newsletter-form input::placeholder {
        color: #888;
    }

    .newsletter-form button {
        font-family: 'Orbitron', sans-serif;
        font-size: 20px;
        padding: 25px 60px;
        color: #ffffff;
        border-radius: 25px;
        text-decoration: none;
        position: relative;
        background: 
            linear-gradient(#0B0B0C, #0B0B0C) padding-box,
            linear-gradient(90deg, #FCE302, #00E0FF) border-box;
        border: 2px solid transparent;
        background-clip: padding-box, border-box;
        box-shadow: 0 0 6px rgba(0, 224, 255, 0.3);
        transition: 0.3s ease-in-out;
    }

    .newsletter-form button:hover {
        background: linear-gradient(90deg, #FCE302, #E1EB33, #00E0FF);
        color: #0B0B0C;
        font-weight: bold;
        box-shadow: 0 0 20px #00e0ff, 0 0 40px #fce302;
    }

    footer {
        height: 200px;
        background-color: #0B0B0C;
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        gap: 32px;
        margin: 0px 40px;
    }

}

/* Desktop 1280x800 */
@media (min-width: 1280px) and (max-width: 1439px) {
    header {
        width: 100vw;
        height: 100vh;
        background-color: black;
    }

    nav {
        width: 100vw;
        height: 80px;
        background-color: black;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 24px;
        padding: 0px 32px;
        align-items: center;
    }

    nav #logo-header {
        grid-column: 2;
        height: 65px;
        object-fit: contain;
    }

    nav #menu {
        display: flex;
        height: 75px;
        grid-column: 8 / span 4;
        font-family: 'Oxanium';
        align-items: center;
        justify-content: flex-end;
        background-color: black;
    }

    nav #menu ul {
        display: inline-flex;
        justify-content: flex-end;
    }

    nav #menu ul li {
        margin: 0 20px;
        letter-spacing: 2px;
        list-style: none;
    }

    nav #menu ul li a {
        color: white;
        text-decoration: none;
        white-space: nowrap;
    }
    
    #header-nav-icon {
        display: none;
    }

    .Hero {
        width: 100vw;
        height: 100vh;
        background-image: url("Resources/background_hero.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center 5%;
        overflow-y: auto; 
    }

    .hero-title {
        padding-top: 100px;
        font-family: 'Orbitron', sans-serif; 
        font-weight: 500;
        font-size: 48px;
        line-height: 60px;
        letter-spacing: 0.15em;
        text-align: center;
        background: linear-gradient(90deg, #FCE302 0%, #E1EB33 38%, #00E0FF 100%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        color: transparent;
        text-shadow: 0 0 6px rgba(255, 255, 255, 0.1);  
    }

    .hero-sub {
        color: #CCCCCC;
        font-family: 'Oxanium';
        text-align: center;
        letter-spacing: 0.20em;
        line-height: 30px;
        font-size: 25px;
        padding: 35px 0px;
    }

    .buttons-hero {
        padding: 100px;
        display: flex;
        justify-content: center;
        gap: 32px;
    }
    
    .button-hero {
        font-family: 'Orbitron', sans-serif;
        font-size: 20px;
        padding: 25px 60px;
        color: #ffffff;
        border-radius: 25px;
        text-decoration: none;
        position: relative;
        background: 
            linear-gradient(#0B0B0C, #0B0B0C) padding-box,
            linear-gradient(90deg, #FCE302, #00E0FF) border-box;
        border: 2px solid transparent;
        background-clip: padding-box, border-box;
        box-shadow: 0 0 6px rgba(0, 224, 255, 0.3);
        transition: 0.3s ease-in-out;
    }

    .button-hero:hover {
        background: linear-gradient(90deg, #FCE302, #E1EB33, #00E0FF);
        color: #0B0B0C;
        font-weight: bold;
        box-shadow: 0 0 20px #00e0ff, 0 0 40px #fce302;
    }

    .Features {
        background-image: url("Resources/background_pages.png");
        width: 100vw;
        height: 100vh;
        display: flex;
    }

    .header-features {
        width: 100vw;
        height: 120px;
    }
    
    .header-features h1 {
        padding: 25px;
        font-family: 'Orbitron';
        font-weight: 500;
        font-size: 42px;
        line-height: 60px;
        letter-spacing: 0.15em;
        text-align: center;
        background: linear-gradient(90deg, #FCE302 0%, #E1EB33 38%, #00E0FF 100%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        color: transparent;
        text-shadow: 0 0 6px rgba(255, 255, 255, 0.1);  
    }

    .body-features {
        display: flex;
        width: 100vw;
        height: auto;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .body-feature {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 350px;
        margin: 20px 0;
    }

    .body-feature img {
        width: 350px;
        height: 550px;
        max-width: 100%;
    }

    .body-feature p {
        color: #CCCCCC;
        text-align: center;
        font-size: 20px;
        font-family: 'Oxanium';
        padding: 25px;
        max-width: 500px;
        line-height: 1.5;
    }
}

/* Tablet 768x1024 */
@media (min-width: 768px) and (max-width: 1279px) {
    header {
        width: 100vw;
        height: 100vh;
        background-color: black;
        overflow: hidden;
    }

    nav {
        width: 100vw;
        height: 90px;
        background-color: black;
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        gap: 20px;
        padding: 0px 24px;
        align-items: center;
    }

    nav #logo-header {
        grid-column: 2;
        height: 65px;
        object-fit: contain;
    }

    nav #menu {
        display: flex;
        height: 100%;
        grid-column: 4 / span 4;
        font-family: 'Oxanium';
        align-items: center;
        justify-content: flex-end;
        background-color: black;
    }

    nav #menu ul {
        display: inline-flex;
        justify-content: flex-end;
        gap: 20px;
    }

    nav #menu ul li {
        letter-spacing: 2px;
        list-style: none;
    }

    nav #menu ul li a {
        color: white;
        text-decoration: none;
        white-space: nowrap;
        line-height: 80px;
    }

    #header-nav-icon {
        display: none;
    }

    .Hero {
        width: 100vw;
        height: 100vh;
        background-image: url("Resources/background_hero.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center 75px;
        overflow: hidden;
    }

    .hero-title {
        padding: 100px 75px 0px; /* Ajustado para 100px */
        font-family: 'Orbitron', sans-serif; 
        font-weight: 500;
        font-size: 44px;
        line-height: 60px;
        letter-spacing: 0.15em;
        text-align: center;
        background: linear-gradient(90deg, #FCE302 0%, #E1EB33 38%, #00E0FF 100%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        color: transparent;
        text-shadow: 0 0 6px rgba(255, 255, 255, 0.1);  
    }

    .hero-sub {
        color: #CCCCCC;
        font-family: 'Oxanium';
        text-align: center;
        letter-spacing: 0.20em;
        line-height: 30px;
        font-size: 20px;
        padding: 35px 0px;
    }

    .buttons-hero {
        padding: 50px; /* Reduzido de 100px */
        display: flex;
        justify-content: center;
        gap: 32px;
    }
    
    .button-hero {
        font-family: 'Orbitron', sans-serif;
        font-size: 20px;
        padding: 25px 60px;
        color: #ffffff;
        border-radius: 25px;
        text-decoration: none;
        position: relative;
        background: 
            linear-gradient(#0B0B0C, #0B0B0C) padding-box,
            linear-gradient(90deg, #FCE302, #00E0FF) border-box;
        border: 2px solid transparent;
        background-clip: padding-box, border-box;
        box-shadow: 0 0 6px rgba(0, 224, 255, 0.3);
        transition: 0.3s ease-in-out;
    }

    .button-hero:hover {
        background: linear-gradient(90deg, #FCE302, #E1EB33, #00E0FF);
        color: #0B0B0C;
        font-weight: bold;
        box-shadow: 0 0 20px #00e0ff, 0 0 40px #fce302;
    }

    .Features {
        width: 100vw;
        padding: 60px 20px;
        background: url("Resources/background_pages.png") center/cover no-repeat;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header-features {
        width: 100vw;
        height: 120px;
    }
    
    .header-features h1 {
        padding: 25px;
        font-family: 'Orbitron';
        font-weight: 500;
        font-size: 42px;
        line-height: 60px;
        letter-spacing: 0.15em;
        text-align: center;
        background: linear-gradient(90deg, #FCE302 0%, #E1EB33 38%, #00E0FF 100%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        color: transparent;
        text-shadow: 0 0 6px rgba(255, 255, 255, 0.1);  
    }

    .body-features {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 40px;
    }

    .body-feature {
        max-width: 320px;
        margin: 20px;
        text-align: center;
    }

    .body-feature img {
        width: 100%;
        height: auto;
    }

    .body-feature p {
        color: #CCCCCC;
        text-align: center;
        font-size: 20px;
        font-family: 'Oxanium';
        padding: 25px;
        max-width: 500px;
        line-height: 1.5;
    }
}
/* Smartphone 360×640 */
@media (max-width: 767px) {

    header {
        width: 100vw;
        height: 100vh;
        background-color: black;
    }

    nav {
        width: 100vw;
        height: 70px;
        background-color: black;
        position: relative;
    }    

    nav #logo-header {
        position: absolute;
        height: 60px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    nav #menu {
        display: none;
    }
    
    nav #header-nav-icon {
        position: absolute;
        top: 50%;
        right: 16px;
        transform: translateY(-50%);
        height: 40px;
    }

    .Hero {
        width: 100vw;
        height: 100vh;
        background-image: url("Resources/background_hero.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center 100px;
    
    }

    .hero-title {
        padding: 100px 50px 0px;
        font-family: 'Orbitron', sans-serif; 
        font-weight: 500;
        font-size: 38px;
        line-height: 60px;
        letter-spacing: 0.15em;
        text-align: center;
        background: linear-gradient(90deg, #FCE302 0%, #E1EB33 38%, #00E0FF 100%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        color: transparent;
        text-shadow: 0 0 6px rgba(255, 255, 255, 0.1);  
    }

    .hero-sub {
        color: #CCCCCC;
        font-family: 'Oxanium';
        text-align: center;
        letter-spacing: 0.20em;
        line-height: 30px;
        font-size: 15px;
        padding: 30px 0px;
    }

    .buttons-hero {
        padding: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 25px;
        flex-direction: column;
    }
    
    .button-hero {
        text-align: center;
        width: 210px;
        font-family: 'Orbitron', sans-serif;
        font-size: 20px;
        padding: 25px 60px;
        color: #ffffff;
        border-radius: 25px;
        text-decoration: none;
        position: relative;
        background: 
            linear-gradient(#0B0B0C, #0B0B0C) padding-box,
            linear-gradient(90deg, #FCE302, #00E0FF) border-box;
        border: 2px solid transparent;
        background-clip: padding-box, border-box;
        box-shadow: 0 0 6px rgba(0, 224, 255, 0.3);
        transition: 0.3s ease-in-out;
    }

    .button-hero:hover {
        background: linear-gradient(90deg, #FCE302, #E1EB33, #00E0FF);
        color: #0B0B0C;
        font-weight: bold;
        box-shadow: 0 0 20px #00e0ff, 0 0 40px #fce302;
    }
}

