 * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Full HD 1440x1024 */
@media (min-width: 1440px) {

    /* Header */

    header {
        width: 100vw;
        height: 100vh;
        background-color: black;
    }

    nav {
        width: 100vw;
        height: 80px;
        background-color: black;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 32px;
        padding: 0px 40px;
        align-items: center;
    }

    nav #logo-header {
        grid-column: 2;
        height: 65px;
        object-fit: contain;
    }

    nav #menu {
        display: flex;
        height: 75px;
        grid-column: 8 / span 4;
        font-family: 'Oxanium';
        align-items: center;
        justify-content: flex-end;
        background-color: black;
    }

    nav #menu ul {
        display: inline-flex;
        justify-content: flex-end;
    }

    nav #menu ul li {
        margin: 0 20px;
        letter-spacing: 2px;
        list-style: none;
    }

    nav #menu ul li a {
        color: white;
        text-decoration: none;
        white-space: nowrap;
    }
    
    #header-nav-icon {
        display: none;
    }

    /* Hero */

    .Hero {
        width: 100vw;
        height: 100vh;
        background-image: url("Resources/background_hero.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center 10%;
    
    }

    .hero-title {
        padding-top: 150px;
        font-family: 'Orbitron';
        font-weight: 500;
        font-size: 48px;
        line-height: 60px;
        letter-spacing: 0.15em;
        text-align: center;
        background: linear-gradient(90deg, #FCE302 0%, #E1EB33 38%, #00E0FF 100%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        color: transparent;
        text-shadow: 0 0 6px rgba(255, 255, 255, 0.1);  
    }

    .hero-sub {
        color: #CCCCCC;
        font-family: 'Oxanium';
        text-align: center;
        letter-spacing: 0.20em;
        line-height: 30px;
        font-size: 25px;
        padding: 35px 0px;
    }

    .buttons-hero {
        padding: 100px;
        display: flex;
        justify-content: center;
        gap: 32px;
    }

    .button-hero {
        font-family: 'Orbitron', sans-serif;
        font-size: 20px;
        padding: 25px 60px;
        color: #ffffff;
        border-radius: 25px;
        text-decoration: none;
        position: relative;
        background: 
            linear-gradient(#0B0B0C, #0B0B0C) padding-box,
            linear-gradient(90deg, #FCE302, #00E0FF) border-box;
        border: 2px solid transparent;
        background-clip: padding-box, border-box;
        box-shadow: 0 0 6px rgba(0, 224, 255, 0.3);
        transition: 0.3s ease-in-out;
    }

    .button-hero:hover {
        background: linear-gradient(90deg, #FCE302, #E1EB33, #00E0FF);
        color: #0B0B0C;
        font-weight: bold;
        box-shadow: 0 0 20px #00e0ff, 0 0 40px #fce302;
    }

    /* Features */

    .Features {
        background-image: url("Resources/background_pages.png");
        width: 100vw;
        height: 100vh;
        display: flexbox;
    }

    .header-features {
        width: 100vw;
        height: 120px;
    }
    
    .header-features h1 {
        padding: 25px;
        font-family: 'Orbitron';
        font-weight: 500;
        font-size: 42px;
        line-height: 60px;
        letter-spacing: 0.15em;
        text-align: center;
        background: linear-gradient(90deg, #FCE302 0%, #E1EB33 38%, #00E0FF 100%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        color: transparent;
        text-shadow: 0 0 6px rgba(255, 255, 255, 0.1);  
    }

    .body-features {
        display: flex;
        width: 100vw;
        height: auto;
        justify-content: space-around;
    }

    .body-feature {
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .body-feature img {
        width: 400px;
        height: 600px;
    }

    .body-feature p {
        color: #CCCCCC;
        text-align: center;
        font-size: 20px;
        font-family: 'Oxanium';
        padding: 25px;
        max-width: 500px;
        line-height: 1.5;
    }
}

/* Desktop 1280x800 */
@media (min-width: 1280px) and (max-width: 1439px) {
    
    header {
        width: 100vw;
        height: 100vh;
        background-color: black;
    }

    nav {
        width: 100vw;
        height: 80px;
        background-color: black;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 24px;
        padding: 0px 32px;
        align-items: center;
    }

    nav #logo-header {
        grid-column: 2;
        height: 65px;
        object-fit: contain;
    }

    nav #menu {
        display: flex;
        height: 75px;
        background-color: grey;
        grid-column: 8 / span 4;
        font-family: 'Oxanium';
        align-items: center;
        justify-content: flex-end;
        background-color: black;
    }

    nav #menu ul {
        display: inline-flex;
        justify-content: flex-end;
    }

    nav #menu ul li {
        margin: 0 20px;
        letter-spacing: 2px;
        list-style: none;
    }

    nav #menu ul li a {
        color: white;
        text-decoration: none;
        white-space: nowrap;
    }
    
    #header-nav-icon {
        display: none;
    }

    /* Hero */

    .Hero {
        width: 100vw;
        height: 100vh;
        background-image: url("Resources/background_hero.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center 5%;
    
    }

    .hero-title {
        padding-top: 150px;
        font-family: 'Orbitron', sans-serif; 
        font-weight: 500;
        font-size: 48px;
        line-height: 60px;
        letter-spacing: 0.15em;
        text-align: center;
        background: linear-gradient(90deg, #FCE302 0%, #E1EB33 38%, #00E0FF 100%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        color: transparent;
        text-shadow: 0 0 6px rgba(255, 255, 255, 0.1);  
    }

    .hero-sub {
        color: #CCCCCC;
        font-family: 'Oxanium';
        text-align: center;
        letter-spacing: 0.20em;
        line-height: 30px;
        font-size: 25px;
        padding: 35px 0px;
    }

    .buttons-hero {
        padding: 100px;
        display: flex;
        justify-content: center;
        gap: 32px;
    }
    
    .button-hero {
        font-family: 'Orbitron', sans-serif;
        font-size: 20px;
        padding: 25px 60px;
        color: #ffffff;
        border-radius: 25px;
        text-decoration: none;
        position: relative;
        background: 
            linear-gradient(#0B0B0C, #0B0B0C) padding-box,
            linear-gradient(90deg, #FCE302, #00E0FF) border-box;
        border: 2px solid transparent;
        background-clip: padding-box, border-box;
        box-shadow: 0 0 6px rgba(0, 224, 255, 0.3);
        transition: 0.3s ease-in-out;
    }

    .button-hero:hover {
        background: linear-gradient(90deg, #FCE302, #E1EB33, #00E0FF);
        color: #0B0B0C;
        font-weight: bold;
        box-shadow: 0 0 20px #00e0ff, 0 0 40px #fce302;
    }

}

/* Tablet 768x1024 */
@media (min-width: 768px) and (max-width: 1279px) {

    header {
        width: 100vw;
        height: 100vh;
        background-color: black;
    }

    nav {
        width: 100vw;
        height: 90px;
        background-color: black;
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        gap: 20px;
        padding: 0px 24px;
        align-items: center;
    }

    nav #logo-header {
        grid-column: 2;
        height: 65px;
        object-fit: contain;
    }

    nav #menu {
        display: flex;
        height: 100%;
        background-color: grey;
        grid-column: 4 / span 4;
        font-family: 'Oxanium';
        align-items: center;
        justify-content: flex-end;
        background-color: black;
    }

    nav #menu ul {
        display: inline-flex;
        justify-content: flex-end;
        gap: 20px;
    }

    nav #menu ul li {
        letter-spacing: 2px;
        list-style: none;
    }

    nav #menu ul li a {
        color: white;
        text-decoration: none;
        white-space: nowrap;
        line-height: 80px;
    }

    #header-nav-icon {
        display: none;
    }

        /* Hero */

    .Hero {
        width: 100vw;
        height: 100vh;
        background-image: url("Resources/background_hero.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center 75px;
    
    }

    .hero-title {
        padding: 125px 75px 0px;
        font-family: 'Orbitron', sans-serif; 
        font-weight: 500;
        font-size: 44px;
        line-height: 60px;
        letter-spacing: 0.15em;
        text-align: center;
        background: linear-gradient(90deg, #FCE302 0%, #E1EB33 38%, #00E0FF 100%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        color: transparent;
        text-shadow: 0 0 6px rgba(255, 255, 255, 0.1);  
    }

    .hero-sub {
        color: #CCCCCC;
        font-family: 'Oxanium';
        text-align: center;
        letter-spacing: 0.20em;
        line-height: 30px;
        font-size: 20px;
        padding: 35px 0px;
    }

    .buttons-hero {
        padding: 100px;
        display: flex;
        justify-content: center;
        gap: 32px;
    }
    
    .button-hero {
        font-family: 'Orbitron', sans-serif;
        font-size: 20px;
        padding: 25px 60px;
        color: #ffffff;
        border-radius: 25px;
        text-decoration: none;
        position: relative;
        background: 
            linear-gradient(#0B0B0C, #0B0B0C) padding-box,
            linear-gradient(90deg, #FCE302, #00E0FF) border-box;
        border: 2px solid transparent;
        background-clip: padding-box, border-box;
        box-shadow: 0 0 6px rgba(0, 224, 255, 0.3);
        transition: 0.3s ease-in-out;
    }

    .button-hero:hover {
        background: linear-gradient(90deg, #FCE302, #E1EB33, #00E0FF);
        color: #0B0B0C;
        font-weight: bold;
        box-shadow: 0 0 20px #00e0ff, 0 0 40px #fce302;
    }
}

/* Smartphone 360×640 */
@media (max-width: 767px) {

    header {
        width: 100vw;
        height: 100vh;
        background-color: black;
    }

    nav {
        width: 100vw;
        height: 70px;
        background-color: black;
        position: relative;
    }    

    nav #logo-header {
        position: absolute;
        height: 60px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    nav #menu {
        display: none;
    }
    
    nav #header-nav-icon {
        position: absolute;
        top: 50%;
        right: 16px;
        transform: translateY(-50%);
        height: 40px;
    }

    .Hero {
        width: 100vw;
        height: 100vh;
        background-image: url("Resources/background_hero.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center 100px;
    
    }

    .hero-title {
        padding: 100px 50px 0px;
        font-family: 'Orbitron', sans-serif; 
        font-weight: 500;
        font-size: 38px;
        line-height: 60px;
        letter-spacing: 0.15em;
        text-align: center;
        background: linear-gradient(90deg, #FCE302 0%, #E1EB33 38%, #00E0FF 100%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        color: transparent;
        text-shadow: 0 0 6px rgba(255, 255, 255, 0.1);  
    }

    .hero-sub {
        color: #CCCCCC;
        font-family: 'Oxanium';
        text-align: center;
        letter-spacing: 0.20em;
        line-height: 30px;
        font-size: 15px;
        padding: 30px 0px;
    }

    .buttons-hero {
        padding: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 25px;
        flex-direction: column;
    }
    
    .button-hero {
        text-align: center;
        width: 210px;
        font-family: 'Orbitron', sans-serif;
        font-size: 20px;
        padding: 25px 60px;
        color: #ffffff;
        border-radius: 25px;
        text-decoration: none;
        position: relative;
        background: 
            linear-gradient(#0B0B0C, #0B0B0C) padding-box,
            linear-gradient(90deg, #FCE302, #00E0FF) border-box;
        border: 2px solid transparent;
        background-clip: padding-box, border-box;
        box-shadow: 0 0 6px rgba(0, 224, 255, 0.3);
        transition: 0.3s ease-in-out;
    }

    .button-hero:hover {
        background: linear-gradient(90deg, #FCE302, #E1EB33, #00E0FF);
        color: #0B0B0C;
        font-weight: bold;
        box-shadow: 0 0 20px #00e0ff, 0 0 40px #fce302;
    }
}

